// Margin and padding each/in loop
$spacingArray: (1, 2, 3, 4);
// can't do 0.5
//  1 = 0.25, 2 = 0.5, 3 = 0.75, 4 = 1

@each $spacing in $spacingArray {
  // Margin/padding all
  .m-#{$spacing} {
    margin: #{$spacing / 4}rem;
  }

  .p-#{$spacing} {
    padding: #{$spacing / 4}rem;
  }

  // Margin/padding top/bottom
  .my-#{$spacing} {
    margin: #{$spacing / 4}rem 0;
  }

  .py-#{$spacing} {
    padding: #{$spacing / 4}rem 0;
  }

  // Margin/padding top
  .mt-#{$spacing} {
    margin: #{$spacing / 4}rem 0 0;
  }

  .pt-#{$spacing} {
    padding: #{$spacing / 4}rem 0 0;
  }

  // Margin/padding left/right
  .mx-#{$spacing} {
    margin: 0 #{$spacing / 4}rem;
  }

  .px-#{$spacing} {
    padding: 0 #{$spacing / 4}rem;
  }
}
// template literal #{}
