@media (max-width: 700px) {
  nav {
    padding: 0.5rem 1rem;
    flex-direction: column;
    gap: 5px;

    .logo {
      transform: translate(-10px, 0);
    }
  }

  .banner {
    height: 10rem;

    .title {
      font-size: 2rem;
    }
  }
}
