@media (max-width: 1100px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  // Utilities:
  .title {
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.9rem;
  }

  // Nav:
  nav {
    padding: 0.8rem 1rem 0.1rem;
    flex-direction: column;
    gap: 5px;

    .logo {
      transform: translate(-12px, 0);
    }
  }

  // Banner:
  .banner {
    height: 10rem;

    .title {
      font-size: 2rem;
    }
  }

  // Home page:
  .panel {
    &-title {
      font-size: 2rem;
    }
  }

  .card-container {
    grid-template-columns: 1fr;
  }

  .card {
    height: 12.5rem;

    &-title {
      height: 30%;
      font-size: 1.5rem;
    }
  }

  .background-panel {
    height: 20rem;
    // border: #fff 3px solid;

    .panel {
      background-color: rgba(235, 235, 235, 0.2);
      height: 20rem;
    }
  }

  .facilities {
    grid-template-columns: repeat(3, 1fr);

    .row-2 {
      transform: translate(50%, 0);
    }
  }

  .grid-line {
    margin: 1rem auto;

    &:nth-child(3) {
      border-right: none;
    }
  }

  // Rooms page:
  .room-card-img {
    height: 15rem;
  }

  footer {
    padding: 2rem;
    font-size: 0.8rem;
  }
}
