@media (max-width: 1100px) {
  .postcard-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 950px) {
  .card-img-sm {
    height: 15rem;
  }

  footer {
    font-size: 0.8rem;
  }

  .card-body-sm {
    height: 4rem;
  }
}

@media (max-width: 750px) {
  // Utilities:
  .line {
    margin: 1rem auto;
  }

  .card {
    // margin: 2rem auto;
    margin: 1rem auto 0;
  }

  .grid-2 {
    gap: 0 0.5rem;
  }

  .title {
    font-size: 1.6rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .footnote {
    font-size: 0.7rem;
    padding: 0.05rem 2rem;
  }

  .card-img-sm {
    height: 10rem;
  }

  // Nav:
  nav {
    padding: 0.8rem 1rem 0.1rem;
    flex-direction: column;
    gap: 5px;

    .logo {
      transform: translate(-12px, 0);
    }
  }

  // Banner:
  .banner {
    height: 10rem;

    .title {
      font-size: 2rem;
    }

    .arrow {
      height: 1.6rem;
      top: 45%;
      font-size: 1rem;

      &-left {
        transform: translate(-2px, 0);
      }
    }

    .dots {
      gap: 0.5rem;

      .dot {
        width: 8px;
        height: 8px;
      }
    }
  }

  // Home page (and paneel in services):
  .panel {
    margin: 0;

    &-title {
      font-size: 2rem;
    }
  }

  .postcard-container {
    grid-template-columns: 1fr;
  }

  .postcard {
    height: 12.5rem;

    &-title {
      height: 30%;
      font-size: 1.5rem;
    }
  }

  .background-panel {
    height: 20rem;
    // border: #fff 3px solid;

    .panel {
      background-color: rgba(235, 235, 235, 0.2);
      height: 20rem;
    }
  }

  .facilities {
    grid-template-columns: repeat(3, 1fr);

    .row-2 {
      transform: translate(50%, 0);
    }
  }

  .grid-line {
    margin: 1rem auto;

    &:nth-child(3) {
      border-right: none;
    }
  }

  // Rooms page:
  .card-img {
    height: 15rem;
  }

  // Reservation page
  .form-container {
    // margin: 0.4rem;
    margin: 0;
  }

  .reservation-form {
    // grid-template-columns: 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas:
      'location location'
      'check-in check-out'
      'guests rooms';

    .location {
      grid-area: location;
    }

    .check-in {
      grid-area: check-in;
    }

    .check-out {
      grid-area: check-out;
    }

    .guests {
      grid-area: guests;
    }

    .rooms {
      grid-area: rooms;
    }
  }

  label,
  input,
  select {
    font-size: 0.8rem;
  }

  .searching {
    padding: 0 2rem;
  }

  .results-container {
    padding: 0.5rem 1rem 2rem;

    .result {
      gap: 0 0.2rem;
      grid-template-columns: auto;
      grid-template-areas:
        'img room'
        'img cost'
        'img details'
        'img link'
        'img reserve';

      .img {
        grid-area: img;
      }

      .room {
        grid-area: room;
      }

      .cost {
        grid-area: cost;
      }

      .details {
        grid-area: details;
      }

      .link {
        grid-area: link;
      }

      .reserve {
        grid-area: reserve;
      }
    }
  }

  // Footer
  footer {
    padding: 2rem;
    font-size: 0.7rem;
  }
}

@media (max-width: 400px) {
  .text {
    font-size: 0.8rem;
    padding-bottom: 0;
  }

  .title {
    font-size: 1.4rem;
  }

  .btn {
    padding: 0.2rem 0.3rem;
    font-size: 0.8rem;
  }

  .card-body {
    height: 11rem;
    overflow-y: auto;
  }

  .panel-title {
    font-size: 1.6rem;
  }

  .grid-2 {
    // grid-template-columns: 1fr;
    display: block;
  }

  nav li {
    padding: 13px 20px;
  }

  .results-container {
    .result {
      img {
        width: 12rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }

  .booking {
    margin: 0 1rem 3rem;
    width: 18rem;
  }
}
