.form-container {
  // border: #333 solid 2px;
  // margin: 2rem;
  margin: 0 2rem;
}

.reservation-form {
  // border: pink 3px solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  input,
  select {
    display: block;
    margin-bottom: 0.6rem;
    margin-top: 0.1rem;
  }
}

.searching {
  // border: black 3px solid;
  padding: 0 5rem;
  color: rgb(94, 131, 203);

  .text {
    font-size: 1.4rem;
    padding-bottom: 0.7rem;
  }

  &-gifs {
    display: flex;
    justify-content: space-between;
    height: 8rem;
  }
}

.results-container {
  // border: black 3px solid;
  padding: 0 2rem 2rem;

  .result {
    border: black 3px solid;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;

    img {
      width: 20rem;
    }

    .icon {
      transform: translate(0, 2px);
      font-size: 1.1rem;
    }
  }
}
