$grey: rgb(235, 235, 235);

// !!!! MARGIN AND PADDING FUNCTIONS

.grey {
  background-color: $grey;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.section {
  padding: 1rem 0 0.5rem;
  height: 100%;
  width: 100%;
  // border: pink 3px solid;
}

.overlay {
  // border: pink 3px solid;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  // 0.25 or 0.3 or 0.4 ??
}

// Card:
.card {
  // border: black 3px solid;
  width: 80%;
  margin: 4rem auto;
  background-color: #fff;

  &-full {
    width: 100%;
    margin: 0;
  }

  &-img {
    height: 30rem;
  }

  &-img-sm {
    height: 20rem;
  }

  .single {
    background: url('../imgs/room-lg.jpg') no-repeat center center/cover;
  }

  .double {
    background: url('../imgs/room-small-2.jpg') no-repeat center center/cover;
  }

  .breakfast {
    background: url('../imgs/facilities/nice-break-plate-zoom.jpg') no-repeat
      center center/cover;
  }

  .parking {
    background: url('../imgs/facilities/parking.jpg') no-repeat center
      center/cover;
  }

  .laundry {
    background: url('../imgs/facilities/laundry.avif') no-repeat center
      center/cover;
  }

  .luggage {
    background: url('../imgs/facilities/luggage.jpg') no-repeat center
      center/cover;
  }

  .tv {
    background: url('../imgs/facilities/tv.jpg') no-repeat center center/cover;
  }

  .wifi {
    background: url('../imgs/facilities/wifi.png') no-repeat center center/cover;
  }

  .yoga {
    background: url('../imgs/facilities/yoga.jpg') no-repeat center center/cover;
  }

  // .twin {
  //   background: url('../imgs/room-small.jpg') no-repeat center center/cover;
  // }

  &-body {
    // border: pink 3px solid;
    height: 10rem;
    padding: 1rem;

    &-sm {
      height: 5rem;
      // border: pink 3px solid;
    }
  }
}

// Panels for strips of text across the whole width of page (like half-sized banner)
.panel {
  // border: pink 3px solid;
  margin: 0.5rem 0;
  padding: 2rem;
  text-align: center;
  background-color: $grey;

  &-white {
    background-color: #fff;
  }

  &-title {
    // border: 3px black solid;
    padding: 5px 0;
    font-size: 2.5rem;
    // font-weight: 400;
    // font-weight: 600;
    font-family: 'Roboto', sans-serif;
  }

  &-text {
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
  }
}

// Button
button:hover {
  cursor: pointer;
  color: #000;
  background: #fff;
  // background: $grey;
}

.btn {
  padding: 0.5rem;
  color: #fff;
  background: #000;
  border: #000 1.5px solid;
  border-radius: 2px;
}

// Fonts/Text styles
.text {
  &,
  &-md {
    // border: 3px black solid;
    padding: 5px 0;
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
  }

  &-md {
    font-size: 1.4rem;
  }
}

.title {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

.footnote {
  padding: 0.1rem 2rem;
  font-size: 0.8rem;
  color: #333;
}

.center {
  text-align: center;
}
