// for react setup sass differently, just npm i sass
// then add import statement to index.js or wherever you want it
// import './scss/style.scss'
// no need to watch/compile on save each time - I guess will only compile once before you deploy (and then run using node package in development mode)

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  // !!! I still can't decide between roboto and monserrat
  // font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

// Navbar:
nav {
  // border: 3px black solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0.5rem 3rem;

  .logo {
    // border: red 3px solid;
    font-size: 2rem;
    font-weight: 300;

    // this is instead of the previous nav padding
    padding-top: 5px;
    padding-left: 1rem;
  }

  .logo div {
    // border: #000 solid 3px;
    display: inline-block;
    transform: translate(-13px, -8px);
    font-family: 'Roboto', sans-serif;
  }

  .logo img {
    width: 70px;
    // border: black 3px solid;
  }

  ul {
    // border: 3px blue solid;
    display: flex;
    gap: 1px;
    // grid-gap: 20px;
    // border: #ccc 1px solid;
  }

  li {
    // position: relative;
    padding: 20px 30px;
    // border: #ccc 1px solid;
  }

  // .active:after {
  //   content: '';
  //   background: black;
  //   position: absolute;
  //   // bottom: -50%;
  //   // left: 37%;
  //   bottom: 10%;
  //   left: 45%;
  //   height: 3px;
  //   width: 15px;
  // }

  .active {
    background-color: #ccc;
    color: #fff;
  }

  li:hover {
    background-color: #ccc;
    color: #fff;
  }

  // put this after a:hover to stop the hover colour change:
  .logo a {
    color: #000;
    // !!! I still can't decide between roboto and monserrat
    // font-family: 'Roboto', sans-serif;
  }

  .reservation {
    font-weight: 600;
    // // !!! either 500 or 600 maybe ?
    text-decoration: underline;
    // !!! I still can't decide between roboto and monserrat
    font-family: 'Roboto', sans-serif;
  }
}

// Banner:
.banner {
  // border: black 3px solid;
  height: 30rem;
  position: relative;
  width: 100%;

  &-home {
    background: url('../imgs/hotel-2-xs.jpg') no-repeat center center/cover;

    // !!!! could even make this a slide show...
    // background: url('../imgs/room-lg.jpg') no-repeat center center/cover;
    // background: url('../imgs/room-small-2.jpg') no-repeat center center/cover;
    // background: url('../imgs/room-small.jpg') no-repeat center center/cover;
  }

  &-rooms {
    background: url('../imgs/room-small-2.jpg') no-repeat center center/cover;

    // !!!! could even make this a slide show...
    // background: url('../imgs/room-lg.jpg') no-repeat center center/cover;
    // background: url('../imgs/room-small.jpg') no-repeat center center/cover;
  }

  &-services {
    background: url('../imgs/breakfast-banner.png') no-repeat center
      center/cover;
  }

  &-reservation {
    background: url('../imgs/reception.jpg') no-repeat center center/cover;
  }

  .title {
    text-transform: uppercase;
    color: #fff;
    font-size: 4rem;
    position: absolute;
    // top: 20%;
    // left: 8%;
    top: 35%;
    // left: 36%;

    text-align: center;
    // width: max-content;
    width: 100%;

    font-weight: 400;
    padding: 10px 20px;
    // background-color: rgba(0, 0, 0, 0.25);
    // letter-spacing: 2px;
  }

  img {
    width: 30rem;
    height: 30rem;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  // height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  // border: pink 3px solid;
  background-color: rgba(0, 0, 0, 0.25);
  // 0.25 or 0.3 or 0.4 ??
}

@import 'utilities';
@import 'media';
